.Game-container {
    width: 100vw;
    height: 100%;
    text-align: center;
    
    @keyframes scrolled-nav {
        0% {
            height: 0;
            background-position: 5px -20px;
            background: #fff;
        }

        95% {
            height: 50px;
            background: #fff;
        }

        100% {
            height: 50px;
            background-position: 5px 10px;
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .Nav {
        height: 50px;
        background-color: #fff;
        font-size: 1.4rem;
        align-items: center;
        display: flex;
        font-weight: 400;
        box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, .06);
        padding: 0 15px;
        color: rgb(6, 193, 250);
        top: 0;
        z-index: 10000;
        width: 100vw;

        &.scrolled {
            position: fixed;
            animation: scrolled-nav 0.4s ease-in-out 0s 1 forwards;
        }

        .Guess {
            color: rgb(3, 46, 66);
        }

        .The {
            color: rgb(5, 83, 119);
        }

        .Temp {
            color: rgb(3, 132, 192);
        }

        .AppName {
            margin: 0 auto;

            &.scrolled {
                animation: fade-in 1.7s ease-in-out 0s 1 forwards;
            }
        }
    }

        .Middle-section {
            max-width: 1200px;
            width: 100vw;
            justify-content: space-evenly;
            margin: 40px auto 0 auto;
            height: 100%;
            @extend .collapse-row-column;

            @include mobile {
                margin: 0 auto;
            }

        .Left-panel {
            max-width: 33%;
            height: 50%;
            max-width: 270px;
            margin: 0 30px 0 30px;
            display: flex;
            flex-direction: column;

            @include mobile {
                max-width: 85vw;
                margin: 10% auto;
                padding: 0;
                min-height: max-content;
                flex-direction: column-reverse;
            }

            .Table {
                background: white;
                padding: 40px;
                border-radius: 8px;
                margin: 0 auto 30px auto;
                width: 100%;
                box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, .06);
                
                @include mobile {
                    width: 85vw;
                    margin: 20px auto -20px auto;
                }

                th {
                    font-size: 1.2rem;
                    font-weight: normal !important;
                
                }
                
                .Temp {
                    padding: 5px 0;
                }

                .Temp::after {
                    content: "°";
                }
            }

            .Toggle-parent {
                border-radius: 8px;
                background: white;
                box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, .06);
                padding: 40px;
                width: 100%;
                height: max-content;

                h4 {
                    font-size: 1.5rem;
                    font-weight: normal !important;   
                    margin-bottom: 10px;              
                }

                p {
                    margin: 0 auto;
                    font-size: 0.75rem;

                    @include mobile {
                        width: 80%;
                    }
                }

                .Units {
                    font-weight: 400 !important;
                    font-size: 1.5rem;
                }

                .Toggle-outer {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    align-items: center;
                    width: 60%;
                    margin: 30px auto 0 auto;

                     .Toggle-inner {
                        //background: linear-gradient(to right, #fff 5%, #39ea53 95%);
                        background: #39ea53;
                        height: 25px;
                        width: 43px;
                        border-radius: 50px;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        transition: all 2s; 

                    &.toggled {
                        background: #fff;
                        transition: all 0.5s; 
                    }

                        .Toggle-button {
                            height: 24px;
                            width: 24px;
                            background: white;
                            border-radius: 50px;
                            box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
                            cursor: pointer;
                            transition: all 0.5s;
                            margin-left: -4%; 
                            
                        &.toggled {
                            margin-left: 45%;
                            transition: all 0.5s; 
                        }
                                            
                    }
                }
                }

                .Close {
                    display: none;

                    @include mobile {
                        display: inline;
                        position: relative;
                        top: 30px;
                        font-weight: bold;
                        color: #1d84af;
                        cursor: pointer;
                    }
                }

               
            }
        }

        .Center-section {
            max-width: 33%;
            text-align: center;
            margin: 0 30px 0 30px;
            
            @include mobile {
                max-width: 100%;
            }

            .Center-panel {
                max-width: 300px;
                height: max-content;
                padding: 30px;
                margin: 30% auto 0 auto;
                border-radius: 8px;
                box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, .06);
                background-color: white;

                @include mobile {
                    margin: 0 auto;
                    max-width: 85vw;
                }

                .Caption-text {
                    margin: 10% 0 20% 0;
                }

                input {
                    display: block;
                    margin: 20px auto 35px auto;
                    padding: 5px;
                    width: 110px;
                    height: 65px;
                    font-size: 3.6rem;
                    font-weight: 200;
                    text-align: center;
                    border-color: #000;
                    border: none;
                    border-bottom: 2px solid #000;
                    
                }

                input[type=number]::-webkit-inner-spin-button, 
                input[type=number]::-webkit-outer-spin-button { 
                -webkit-appearance: none; 
                margin: 0; 
                }

                button {
                    padding: 12px 32%;
                    border-radius: 7px;
                    border: none;
                    background-color: rgb(7, 195, 252);
                    color: #fff;
                    font-size: 0.9rem;
                    font-weight: 700;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(1, 122, 158);
                        color: #fff;
                        box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
                        transition: all 0.4s;
                    } 
                }
            }

           

            .City-list {
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 10%;
            }
        }
        
        .Right-panel {
            display: flex;
            flex-direction: column;
            height: 50%;
            max-width: 33%;
            margin: 0 30px 0 30px;
          

            @include mobile {
                max-width: 85vw;
                margin: 20px auto;
                padding: 0;
            }

            .Table {
                box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, .06);
                border-radius: 8px;
                background: white;
                margin: 0 auto;
                width: 100%;
                padding: 40px 0;

                @include mobile {
                    width: 85vw;;
                }
           
                h4 {
                    font-size: 1.9rem;
                    font-weight: 400;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 0.75rem;
                }

                table {
                    width: 100%;
                    margin-top: 10px;
                }

                .Score {
                    font-weight: 200;
                    font-size: 4rem;
                    transform: translateY(10px);
                }

                .Correct-count {
                    color: green;
                }

                .Incorrect-count {
                    color: red;
                }
                
            }
        }
        
        .Npm-div {
            background: white;
            padding: 40px;
            height: max-content;
            width: 100%;
            margin: 20px auto 0 auto;
            border-radius: 8px;
            box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, .06);

            @include mobile {
                width: 100%;
                margin: 20px auto;
                padding: 30px;
            }

            h3 {
                margin-bottom: 10px; 
            }
        }
    }

    .Footer {
        margin-top: 10%;
        width: 100vw;
        color: white;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);

        p:nth-of-type(1) {
            font-size: 1.1rem;
            font-weight: 500;
        }

        p:nth-of-type(2) {
            margin-top: 100px;
            font-size: 0.8rem;
        }
    }

    @keyframes dismissed {
        0% {
            transform: translateX(0%);
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
        99% {
            transform: translateX(-700%);
        }
        100% {
            transform: translateX(-1000%);
            opacity: 0;
            height: 0;
            padding: 0;
            margin: -10px;
        }
    }

    .Dismissed {
        animation: dismissed 1s ease-in-out 0.5s 1 forwards;
    }

    .Kenya::after{
        content: "🇰🇪 ";
    }
    .United-states::after{
        content: "🇺🇸 ";
    }
    .United-kingdom::after{
        content: "🇬🇧 ";
    }
    .Brazil::after{
        content: "🇧🇷 ";
    }
    .Hong-kong::after{
        content: "🇭🇰 ";
    }
}